.faqs {
    width: 90%;
    margin: 4rem auto;

    h2 {
        margin-bottom: 2rem;
        font-family: 'Raleway';
    }
}

.faq_question {
    font-size: 1.4rem;
    font-family: 'Raleway';
    // margin: 0px;
    // padding: 0px 0px 5px 0px;
    // display: inline-block;
    cursor: pointer;
    font-weight: bold;
    margin: 1rem 0;
    
}
 
.faq_answer {    
    display: none;
    font-weight: normal;
    margin-top: 1rem;
    font-size: 1.2rem;
    
}

.open {
    display: block;
}