footer {
    width: 100%; 
    height: auto;       
    background-color: $azul;
    color: $blanco;
    padding: 1rem 0;

    li {
        list-style: none;        
        
        a {
            text-decoration: none;
            color: $blanco;
        }
    }   

    .container {
        width: 90%;
        padding: 2rem 0;
        height: 200px;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        margin: 0 auto;

        p {
            margin: 0;
        }
        
    }    

    .head {
        width: 20%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        
        ul {
            display: flex;
            padding: 0;
        }

        p {
            font-weight: bold;
            font-size: 1.2rem;
        }

        i {
            font-size: 20px;
            margin-right: 20px;
        }

        li:last-child a i {
            margin-right: 0;
        }
        
    }

    .subnav {
        width: 30%;
        height: 100%;        

        ul {  
            padding: 0;
            height: 100%;
            display: flex;          
            flex-flow: column wrap;
            justify-content: flex-start;
            align-items: flex-start;
            
        }
    }

    .copyright {
        width: 40%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: flex-end;        
    }     
}

