.marcas {
    width: 100vw;  
    height: auto;  
    margin: 2rem 0;

    &_contenedor {
        width: 90%; 
        height: auto; 
        margin: 0 auto;

        h3 {
            font-family: 'Raleway' !important;            
            font-weight: 700;
            font-size: 1.5em;
            margin-bottom: 2rem;
            letter-spacing: 1px;
        }
    }   

    &_grid {
        width: 100%;                
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;        
        margin:3rem auto;       
    }
    
    &_item {        
        width: 12%; 
        margin: 0 10px;
        
    }
    
}