@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
  color: #0264ad;
  font-size: 1.2rem;
}

img {
  max-width: 100%;
}

.header {
  background-color: #fff;
  width: 100vw;
  height: auto;
}

.header .nav {
  background-color: inherit;
  width: 80%;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav__links {
  font-size: 1.4rem;
  width: 50%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav__item {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Raleway';
  letter-spacing: 1px;
  color: #0264ad;
}

.header .nav .logo {
  width: 20%;
}

.header .portada {
  width: 100%;
  height: 450px;
  background: url(../img/foto-portada.png) no-repeat center;
  background-size: cover;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header .portada__texto {
  width: 80%;
}

.header .portada__texto h1 {
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 3.5rem;
}

.nosotros {
  background-color: #fff;
  width: 100vw;
  margin: 4rem 0;
  height: auto;
}

.nosotros__info {
  background-color: inherit;
  width: 80%;
  margin: 0 auto;
}

.nosotros__info h2 {
  font-family: 'Raleway';
  font-weight: 700;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.nosotros__vectores {
  background-color: inherit;
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nosotros__vectores__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.nosotros__vectores__item span {
  font-weight: 700;
  font-family: 'Open Sans';
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.nosotros__vectores__item img {
  width: 60%;
}

.footer {
  background-color: #0264ad;
  width: 100vw;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__head {
  color: #fff;
  width: 80%;
  margin: 2rem auto;
}

.footer__head h3 {
  font-family: 'Raleway';
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.footer__head ul {
  list-style: none;
}

.footer__head ul li a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 1px;
}

.footer__head p {
  margin-top: 1rem;
  font-size: 1rem;
}

@media screen and (max-width: 954px) {
  .header .nav__links {
    width: 60%;
    font-size: 1.2rem;
  }
  .header .portada__texto h1 {
    font-size: 2.5rem;
  }
  .nosotros__vectores {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nosotros__vectores__item {
    width: 60%;
  }
}

@media screen and (max-width: 674px) {
  .header .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .nav__links {
    width: 100%;
    font-size: 1.2rem;
  }
  .header .nav .portada__texto h1 {
    font-size: 2rem;
  }
  .header .nav .portada__texto p {
    font-size: 0.8rem;
  }
  .header .nav .logo {
    width: 50%;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 390px) {
  .header .nav__links {
    font-size: 1rem;
  }
  .header .portada__texto h1 {
    font-size: 1.8rem;
  }
}
/*# sourceMappingURL=main.css.map */