@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans' !important;
  color: #0264ad !important;
  font-size: 1.2rem;
}

img {
  max-width: 100%;
}

.header {
  background-color: #fff;
  width: 100vw;
  height: auto;
}

.header .navbar {
  background-color: #fff !important;
  width: 90%;
  margin: auto;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header .navbar .nav-link {
  color: #0264ad !important;
}

.header .navbar .navbar-toggler {
  color: #0264ad !important;
}

.header .navbar .navbar-toggler-icon {
  color: #0264ad !important;
}

.header .portada {
  width: 100%;
  height: 450px;
  background: url(../img/foto-portada.png) no-repeat center;
  background-size: cover;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header .portada__texto {
  width: 80%;
}

.header .portada__texto h1 {
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 3.5rem;
}

.nosotros {
  background-color: #fff;
  width: 100vw;
  margin: 4rem 0;
  height: auto;
}

.nosotros__info {
  background-color: inherit;
  width: 90%;
  margin: 0 auto;
}

.nosotros__info h2 {
  font-family: 'Raleway';
  font-weight: 700;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.nosotros__vectores {
  background-color: inherit;
  width: 80%;
  margin: 3rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nosotros__vectores__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.nosotros__vectores__item span {
  font-weight: 700;
  font-family: 'Open Sans';
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.nosotros__vectores__item img {
  width: 60%;
}

.marcas {
  width: 100vw;
  height: auto;
  margin: 6rem 0;
}

.marcas_contenedor {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.marcas_contenedor h3 {
  font-family: 'Raleway' !important;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.marcas_grid {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 2%;
  margin: 3rem 0;
}

.marcas_item {
  width: 60%;
  margin: auto;
}

.faqs {
  width: 90%;
  margin: 4rem auto;
}

.faqs h2 {
  margin-bottom: 2rem;
  font-family: 'Raleway';
}

.faq_question {
  font-size: 1.4rem;
  font-family: 'Raleway';
  cursor: pointer;
  font-weight: bold;
  margin: 1rem 0;
}

.faq_answer {
  display: none;
  font-weight: normal;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.open {
  display: block;
}

.footer {
  background-color: #0264ad;
  width: 100vw;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__head {
  color: #fff;
  width: 90%;
  margin: 2rem auto;
}

.footer__head h3 {
  font-family: 'Raleway';
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.footer__head ul {
  list-style: none;
}

.footer__head ul li a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 1px;
}

.footer__head p {
  margin-top: 1rem;
  font-size: 1rem;
}

@media screen and (max-width: 954px) {
  .header .portada__texto h1 {
    font-size: 2.5rem;
  }
  .nosotros__vectores {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nosotros__vectores__item {
    width: 60%;
  }
  .marcas_grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 674px) {
  .header .portada__texto h1 {
    font-size: 2rem;
  }
  .header .portada__texto p {
    font-size: 0.8rem;
  }
  .marcas_grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[8];
        grid-template-rows: repeat(8, 1fr);
    grid-gap: 2%;
  }
  .marcas_item {
    width: 50%;
    margin: auto;
  }
}

@media screen and (max-width: 390px) {
  .header .portada__texto h1 {
    font-size: 1.8rem;
  }
}
/*# sourceMappingURL=main.css.map */